.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgContainer img{
    width: calc(100% - 10%);
    height:  300px;
    border-radius: 7px ;

}

.artworkCont{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}

.artworkCont h3{
    text-align: center;
}

.artworkCont article{
    align-self: center;
    /* text-align: center; */
    margin: 15px 15px 15px 15px;
}

.artworkCont p{
    margin-left: 15px;
}

.artWorkComments{
    /* background-color: pink; */
    margin: 0 7px 0 7px;
    
}
.artWorkComments h4{
    border-top: var(--pink-border-color);
    text-align: center;
}

.artWorkComments {
    margin: 0 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}