.mainContainer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-bottom: 7rem;
}

.mediaContainer {
  margin: 25px 8px;
  text-decoration: none;
}

.mediaContainer a {
  text-decoration: none;
  color: inherit;
}

.imageContainer {
  display: flex;
  border-radius: 12px;
  padding: 5px;
  background: rgb(25, 24, 24);
  background: linear-gradient(
    232deg,
    rgba(25, 24, 24, 1) 10%,
    rgba(48, 47, 47, 1) 61%,
    rgba(45, 45, 45, 1) 77%,
    rgba(0, 0, 0, 1) 100%
  );

}

.imageCafecitoContainer {
  display: flex;
  border-radius: 12px;
  padding: 5px;
  background-color: rgba(137, 163, 209, 1);

}

.imageCafecitoContainer img {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  border: 1px solid white;
  margin-right: -15px;
}

.imageCafecitoContainer p {
  width: 100%;
  text-decoration: none;
  color: whitesmoke;

  text-align: center;
  font-size: 20px;
}

.imageContainer img {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  border: 1px solid white;
  margin-right: -15px;
}

.imageContainer p {
  width: 100%;
  color: #759d5b;
  text-align: center;
  font-size: 20px;
}
