.footerMainContainer {
  display: grid;
  align-self: end;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  border-style: solid none none;
  border-color: rgb(251, 132, 171);
  color: rgb(193, 136, 145);
  margin-bottom: 15px;
}

.usContainer {
  padding-left: 8px;
}
.usContainer a {
  text-decoration: none;
  font-weight: normal;
  color: rgb(193, 136, 145);
}
.mediaContainer {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.igContainer img {
  width: 25px;
  height: 25px;
  margin: 3px;
}

.fbContainer img {
  width: 25px;
  height: 25px;
  margin: 3px;
}

.contactContainer {
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 8px;
}
.contactContainer p {
  margin: 3px;
  font-size: 10px;
}
.linkStyle {
  text-decoration: "none";
  color: inherit;
}

@media (width <= 1200px) {
  .footerMainContainer {
    width: 100%;
  }
}

@media (width >= 1200px) {
  .usContainer {
    padding-left: 25px;
  }
  .usContainer a {
    text-decoration: none;
    font-weight: normal;
    color: rgb(193, 136, 145);
    font-size: 20px;
  }
  .igContainer img {
    width: 35px;
    height: 35px;
    margin: 3px;
  }

  .fbContainer img {
    width: 35px;
    height: 35px;
    margin: 3px;
  }
  .igContainer img:hover {
    transform: scale(1.1);
  }

  .fbContainer img:hover {
    transform: scale(1.1);
  }

  .contactContainer svg {
    margin-top: 3px;
    width: 28px;
    height: 28px;
  }
  .contactContainer p {
    font-size: 12px;
  }
  .contactContainer svg:hover {
    transform: scale(1.1);
  }
  .contactContainer p:hover {
    transform: scale(0.978);
  }
}
