.infoContainer{
    background-color: var(--background-pink-color);
    background-color: rgb(244, 225, 230);
    border-radius: 8px;
    margin: 25px 15px;
    padding: 14px;
}

.title{
    margin: 3px 5px 5px;
    border-bottom: 1px rgb(139, 77, 77) solid;
}
.title em{
    font-weight: bold;
}

.body{
    margin: 0 5px;
}

@media(width >= 1200px) {
    .InfoCardMainContainer {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .infoContainer{
        width: 1200px;
        height: 100px;
        padding: 3rem;

    }
    .title em{
        font-size: 25px ;
    }
    .body p{
        font-size: 20px;
    }
    .infoContainer:hover{
        transform: scale(1.01);
    }

}
