.listContainer{
    display: flex;
    flex-direction: column;
}
.title{
    align-self: start;


}
.title p{
    font-size: 19px;
}
.artworkContainer{
    display: flex;
    justify-content: center;
}

@media (width > 900px) {
    .artworkContainer{
        display: grid;
        grid-template-columns: repeat(2, 1fr) ;
    }
}