.header {
    display: flex;
    flex-direction: row;

}

.navContainer {
    width: 75px;
} 

.titleContainer {
    justify-content: center;
    align-items: center;
}

.titleContainer img {
    display: block;
    transform: rotate(-5deg);
    width: calc(100%);
    height: auto;
}